{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block contant %}
<div class="w-100">
  <img class="w-100" src="{% static 'images/plant.gif' %}" alt="">

</div>
<div id="login">
  <div class="text-dark">
    <div class="container">
      <h1>Login</h1>
      <form method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary"><span class="fas fa-sign-in-alt mr-2"></span>Login</button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
