{% extends "base.html" %}

{% load bootstrap4 %}

{% block contant %}
<div id="signup" class="jumbotron bg-dark text-light">
  <div class="container">
    <h1>Sign Up</h1>
    <form method="POST" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <p>Do you all ready have an account and want to <a href="{% url 'accounts:login' %}">login?</a></p>
      {% buttons %}
        <button type="submit" class="btn btn-primary"><span class="fas fa-pencil-alt mr-2"></span>Sign Up</button>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
